package {{ packages['Controller'] }};

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import io.swagger.annotations.ApiOperation;
import {{ packages['Dto']}}.{{ TableName }}Dto;
import {{ packages['Service']}}.{{ TableName }}Service;
import {{ packages['QueryVo']}}.{{ TableName }}QueryVo;
import {{ packages['CreateVo']}}.{{ TableName }}CreateVo;
import {{ packages['UpdateVo']}}.{{ TableName }}UpdateVo;
import org.springframework.web.bind.annotation.*;

/**
 * @author wanglk
 */
@RestController
@RequestMapping("{{ table_name|replace('_', '/') }}")
public class {{ TableName }}Controller {

    @Resource
    private {{ TableName }}Service {{ tableName }}Service;

    @PostMapping()
    @ApiOperation("新增{{ table_remark }}")
    public Result<Boolean> create{{ TableName }}(@RequestBody {{ TableName }}CreateVo {{ tableName }}CreateVo) {
        {{ tableName }}Service.create{{ TableName }}({{ tableName }}CreateVo);
        return Result.success(true);
    }

    @PutMapping()
    @ApiOperation("修改{{ table_remark }}")
    public Result<Boolean> update{{ TableName }}(@RequestBody {{ TableName }}UpdateVo {{ tableName }}UpdateVo) {
        {{ tableName }}Service.update{{ TableName }}({{ tableName }}UpdateVo);
        return Result.success(true);
    }

    @DeleteMapping()
    @ApiOperation("删除{{ table_remark }}")
    public Result<Boolean> delete{{ TableName }}(@RequestParam Long id) {
        {{ tableName }}Service.delete{{ TableName }}(id);
        return Result.success(true);
    }

    @GetMapping()
    @ApiOperation("{{ table_remark }}详情")
    public Result<{{ TableName }}> get{{ TableName }}(@RequestParam Long id) {
        return Result.success({{ tableName }}Service.get{{ TableName }}(id));
    }

    @PostMapping("/page")
    @ApiOperation("{{ table_remark }}分页列表")
    public Result<Page<{{ TableName }}Dto>> page{{ TableName }}(@RequestBody {{ TableName }}QueryVo {{ tableName }}QueryVo) {
        Page<{{ TableName }}Dto> {{ tableName }}DtoPage = {{ tableName }}Service.selectPage({{ tableName }}QueryVo);
        return Result.success({{ tableName }}DtoPage);
    }

}

