package {{ packages['Controller'] }};

import {{ extra['resultful']['package'] }}.{{ extra['resultful']['class'] }};
import {{ packages['VO']}}.{{ TableName }}VO;
import {{ packages['ListVO'] }}.{{ TableName }}ListVO;
import {{ packages['Service']}}.{{ TableName }}Service;
import {{ packages['QueryDTO']}}.{{ TableName }}QueryDTO;
import {{ packages['CreateVO']}}.{{ TableName }}CreateVO;
import {{ packages['UpdateVO']}}.{{ TableName }}UpdateVO;
import com.github.pagehelper.PageInfo;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import javax.annotation.Resource;
import org.springframework.web.bind.annotation.*;
import java.util.List;

/**
 * @author {{ author }}
 */
@Api(tags = "{{ remark }}")
@RestController
@RequestMapping("{{ table_name|replace('_', '/') }}")
public class {{ TableName }}Controller {

    @Resource
    private {{ TableName }}Service {{ tableName }}Service;

    @PostMapping()
    @ApiOperation("新增{{ remark }}")
    public {{ extra['resultful']['class'] }}<Boolean> create{{ TableName }}(@RequestBody {{ TableName }}CreateVO {{ tableName }}CreateVO) {
        {{ tableName }}Service.create{{ TableName }}({{ tableName }}CreateVO);
        return null;
    }

    @PutMapping()
    @ApiOperation("修改{{ remark }}")
    public {{ extra['resultful']['class'] }}<Boolean> update{{ TableName }}(@RequestBody {{ TableName }}UpdateVO {{ tableName }}UpdateVO) {
        {{ tableName }}Service.update{{ TableName }}({{ tableName }}UpdateVO);
        return null;
    }

    @DeleteMapping()
    @ApiOperation("删除{{ remark }}")
    public {{ extra['resultful']['class'] }}<Boolean> delete{{ TableName }}(@RequestParam List<{{ id_type }}> {{ primary_key }}List) {
        {{ tableName }}Service.delete{{ TableName }}({{ primary_key }}List);
        return null;
    }

    @GetMapping()
    @ApiOperation("{{ remark }}详情")
    public {{ extra['resultful']['class'] }}<{{ TableName }}VO> get{{ TableName }}(@RequestParam {{ id_type }} {{ primary_key }}) {
        {{ TableName }}VO {{ tableName }}VO = {{ tableName }}Service.get{{ TableName }}({{ primary_key }});
        return null;
    }

    @GetMapping("/page")
    @ApiOperation("{{ remark }}分页")
    public {{ extra['resultful']['class'] }}<PageInfo<{{ TableName }}ListVO>> page{{ TableName }}(@RequestParam {{ TableName }}QueryDTO {{ tableName }}QueryDTO) {
        PageInfo<{{ TableName }}ListVO> {{ tableName }}Page = {{ tableName }}Service.page{{ TableName }}({{ tableName }}QueryDTO);
        return null;
    }
}

