package {{ packages['DAO'] }};

import {{ packages['Model'] }}.{{ TableName }};
import {{ packages['Mapper'] }}.{{ TableName }}Mapper;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;

/**
 * @author {{ author }}
 */
@Service
public class {{ TableName }}DAO extends ServiceImpl<{{ TableName }}Mapper, {{ TableName }}> {
}
