package {{ packages['Mapper'] }};

import {{ packages['Model'] }}.{{ TableName }};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * @author {{ author }}
 */
public interface {{ TableName }}Mapper extends BaseMapper<{{ TableName }}> {

}