package {{ packages['Mapper'] }};

import {{ packages['DO'] }}.{{ TableName }}DO;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * @author {{ author }}
 */
public interface {{ TableName }}Mapper extends BaseMapper<{{ TableName }}DO> {

}