package {{ packages['Model'] }};

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.TableField;
import java.time.LocalDateTime;
import java.io.Serializable;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
 * <p>
 * {{ remark }}表
 * </p>
 *
 * @author wanglk
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@ApiModel(value = "{{ TableName }}对象", description = "{{ remark }}表")
@TableName(value = "{{ table_name }}")
public class {{ TableName }} implements Serializable {

    private static final long serialVersionUID = 1L;
{% for column in columns %}
    /**
     * {{ column['remark'] }}
     */{% if column['field'] == 'id' %}
    @TableId(value = "{{ column['raw'] }}", type = IdType.AUTO){% else %}
    @TableField("{{ column['raw'] }}"){% endif %}
    private {{ column['type'] }} {{ column['field'] }};
{% endfor %}
}
