package {{ packages['Service'] }};

import {{ packages['Vo'] }}.{{ TableName }}Vo;
import {{ packages['ListVo'] }}.{{ TableName }}ListVo;
import {{ packages['QueryVo'] }}.{{ TableName }}QueryVo;
import {{ packages['CreateVo'] }}.{{ TableName }}CreateVo;
import {{ packages['UpdateVo'] }}.{{ TableName }}UpdateVo;
import java.util.List;

/**
 * @author {{ author }}
 */
public interface {{ TableName }}Service {

    /**
	 * 新增{{ table_remark }}
	 *
	 * @param {{ tableName }}CreateVo
	 */
    void create{{ TableName }}({{ TableName }}CreateVo {{ tableName }}CreateVo);

    /**
	 * 修改{{ table_remark }}
	 *
	 * @param {{ tableName }}UpdateVo
	 */
    void update{{ TableName }}({{ TableName }}UpdateVo {{ tableName }}UpdateVo);

    /**
	 * 删除{{ table_remark }}
	 *
	 * @param {{ primary_key }}s
	 */
    void delete{{ TableName }}(List<{{ id_type }}> {{ primary_key }}s);

	/**
     * {{ table_remark }}详情
     *
     * @param id id
     * @return po
     */
    {{ TableName }}Vo get{{ TableName }}({{ id_type }} {{ primary_key }});

    /**
	 * {{ table_remark }}列表分页
	 *
	 * @param {{ TableName }}QueryVo
	 * @return page
	 */
    PageInfo<{{ TableName }}ListVo> page{{ TableName }}({{ TableName }}QueryVo {{ TableName }}QueryVo);

}



