package {{ packages['Service'] }};

import java.util.List;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import {{ packages['Dto'] }}.{{ TableName }}Dto;
import {{ packages['QueryVo'] }}.{{ TableName }}QueryVo;
import {{ packages['CreateVo'] }}.{{ TableName }}CreateVo;
import {{ packages['UpdateVo'] }}.{{ TableName }}UpdateVo;
import {{ packages['Model'] }}.{{ TableName }};


/**
 * <p>
 * {{ table_remark }}表  服务类
 * </p>
 *
 * @author wanglk
 */
public interface {{ TableName }}Service extends IService<{{ TableName }}> {

    /**
	 * 新增{{ table_remark }}
	 *
	 * @param {{ tableName }}CreateVo
	 */
    void create{{ TableName }}({{ TableName }}CreateVo {{ tableName }}CreateVo);

    /**
	 * 修改{{ table_remark }}
	 *
	 * @param {{ tableName }}UpdateVo
	 */
    void update{{ TableName }}({{ TableName }}UpdateVo {{ tableName }}UpdateVo);

    /**
	 * 删除{{ table_remark }}
	 *
	 * @param id id
	 */
    void delete{{ TableName }}(Long id);

	/**
     * {{ table_remark }}详情
     *
     * @param id id
     * @return po
     */
    {{ TableName }}Dto get{{ TableName }}(Long id);

    /**
	 * {{ table_remark }}列表分页
	 *
	 * @param {{ TableName }}QueryVo
	 * @return page
	 */
    Page<{{ TableName }}Dto> selectPage({{ TableName }}QueryVo {{ TableName }}QueryVo);

}



