package {{ packages['ServiceImpl'] }};

import {{ packages['Model'] }}.{{ TableName }};
import {{ packages['Mapper'] }}.{{ TableName }}Mapper;
import {{ packages['Service'] }}.{{ TableName }}Service;
import {{ packages['QueryVo'] }}.{{ TableName }}QueryVo;
import {{ packages['Vo'] }}.{{ TableName }}Vo;
import {{ packages['CreateVo'] }}.{{ TableName }}CreateVo;
import {{ packages['UpdateVo'] }}.{{ TableName }}UpdateVo;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Service;

/**
 *
 * @author wanglk
 */
@Service
public class {{ TableName }}ServiceImpl extends ServiceImpl<{{ TableName }}Mapper, {{ TableName }}> implements {{ TableName }}Service {

    @Override
    public void create{{ TableName }}({{ TableName }}CreateVo {{ tableName }}CreateVo) {
        {{ TableName }} {{ tableName }} = new {{ TableName }}();
        BeanUtils.copyProperties({{ tableName }}CreateVo, {{ tableName }});
        this.save({{ tableName }});
    }

    @Override
    public void update{{ TableName }}({{ TableName }}UpdateVo {{ tableName }}UpdateVo) {
        {{ TableName }} {{ tableName }} = new {{ TableName }}();
        BeanUtils.copyProperties({{ tableName }}UpdateVo, {{ tableName }});
        this.updateById({{ tableName }});
    }

    @Override
    public void delete{{ TableName }}({{ id_type }} {{ primary_key }}) {
        this.removeById({{ primary_key }});
    }

    @Override
    public {{ TableName }}Vo get{{ TableName }}({{ id_type }} {{ primary_key }}) {
        {{ TableName }} {{ tableName }} = this.getById({{ primary_key }});
        {{ TableName }}Vo result = new {{ TableName }}Vo();
        BeanUtils.copyProperties({{ tableName }}, result);
        return result;
    }

    @Override
    public IPage<{{ TableName }}Vo> page{{ TableName }}({{ TableName }}QueryVo {{ tableName }}QueryVo) {
        LambdaQueryWrapper<{{ TableName }}> wrapper = new LambdaQueryWrapper<>();
        IPage<{{ TableName }}> page = this.page(new Page<>(1, 10), wrapper);
        return page.convert(entity -> {
            {{ TableName }}Vo vo = new {{ TableName }}Vo();
            BeanUtils.copyProperties(entity, vo);
            return vo;
        });
    }
}
