package {{ packages['Service'] }};

import java.util.List;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import {{ packages['Dto'] }}.{{ TableName }}Dto;
import {{ packages['QueryVo'] }}.{{ TableName }}QueryVo;
import {{ packages['Vo'] }}.{{ TableName }}Vo;
import {{ packages['Model'] }}.{{ TableName }};


/**
 * <p>
 * {{ table_remark }}表  服务类
 * </p>
 *
 * @author wanglk
 */
public interface {{ TableName }}Service extends IService<{{ TableName }}> {

    /**
	 * 新增{{ table_remark }}
	 *
	 * @param {{ tableName }}Vo
	 */
    void add{{ TableName }}({{ TableName }}Vo {{ tableName }}Vo);

    /**
	 * 修改{{ table_remark }}
	 *
	 * @param {{ tableName }}Vo
	 */
    void update{{ TableName }}({{ TableName }}Vo {{ tableName }}Vo);

    /**
	 * 删除{{ table_remark }}
	 *
	 * @param id id
	 */
    void delete{{ TableName }}(Long id);

	/**
     * 查询{{ table_remark }}
     *
     * @param id id
     * @return po
     */
    ${entity}DTO get{{ TableName }}(Long id);

    /**
	 * {{ table_remark }}列表分页
	 *
	 * @param {{ TableName }}QueryVo
	 * @return page
	 */
    Page<{{ TableName }}Dto> selectPage({{ TableName }}QueryVo {{ TableName }}QueryVo);

}



