package {{ packages['QueryDTO'] }};

import {{ pagination_package }}.{{ pagination_class }};
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import java.io.Serializable;
import java.util.Date;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
 * @author {{ author }}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@ApiModel(value = "{{ TableName }}对象", description = "{{ remark }}")
public class {{ TableName }}QueryDTO extends {{ pagination_class }} implements Serializable {

    private static final long serialVersionUID = 1L;
{% for column in columns %}
    @ApiModelProperty(value = "{{ column['remark'] }}")
    private {{ column['type'] }} {{ column['field'] }};
{% endfor %}
}
